@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 fw-bolder text-primary">Welcome to IT Course</h1>
    <p class="fw-bold text-center text-danger fs-2 mt-4">Contact us for high quality courses</p>
    <div class="row mt-4">
        <div class="col">
            <h2 class="fw-normal text-center mb-4 text-success">Contact Us:-</h2>
            <h4 class="fw-normal">011 2223344 <br> 011 5512366</h4>
        </div>
        <div class="col">
            <h2 class="fw-normal text-center mb-4 text-success">Email Us:-</h2>
            <h4 class="fw-normal">Itcoursemanager@gmail.com</h4>
        </div>
        <div class="col">
            <h2 class="fw-normal text-center mb-4 text-success">Address:-</h2>
            <h4 class="fw-normal">No.25,<br />Main Street, <br /> Colombo 07</h4>
        </div>
    </div>
</div>
